*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* colors */
  --clr-blue: #4d5b9e;
  --clr-blue-dark: #293264;
  --clr-blue-light: #d6dbf5;
  --clr-blue-lighter: #dbdef0;
  --clr-white: #f5f7fb;
  --clr-green: #94d7a2;
  --clr-red: #f8bcbc;

  --clr-heading-text: var(--clr-blue-dark);
  --clr-question-divider: var(--clr-blue-lighter);

  --clr-answer-selected-bg: var(--clr-blue-light);
  --clr-answer-selected-text: var(--clr-blue-dark);
  --clr-answer-correct-bg: var(--clr-green);
  --clr-answer-wrong-bg: var(--clr-red);
}

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 2rem;
  font-family: 'Karla', sans-serif;
  font-weight: bold;
}

button {
  width: 190px;
  height: 52px;
  color: white;
  background-color: var(--clr-blue);
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  border-radius: 15px;
  border: none;
}

.intro {
  height: 100%;
  margin: auto;
}

.intro button {
  cursor: pointer;
}

.question {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  width: 100%;
  padding-bottom: 1em;
  margin-block: 2em;
  border-bottom: 1px solid var(--clr-blue-lighter);
}

.question--text {
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  text-align: left;
}

.question--answer-options {
  display: flex;
  justify-content: space-around;
  gap: 0.5em;
}

.question--option {
  display: inline-block;
  background-color: transparent;
  color: var(--clr-blue-dark);

  font-family: 'Karla', sans-serif;

  padding: 0.5em 1.5em;

  border: 1px solid currentColor;
  border-radius: 8px;
  cursor: pointer;
}

.question--option.selected {
  background-color: var(--clr-answer-selected-bg);
  border: 1px solid var(--clr-answer-selected-bg);
}

.question--option.correct {
  background-color: var(--clr-answer-correct-bg);
  border: 1px solid var(--clr-answer-correct-bg);
}

.question--option.wrong {
  background-color: var(--clr-answer-wrong-bg);
  border: 1px solid var(--clr-answer-wrong-bg);
  opacity: 0.5;
}

.flow > * + * {
  margin-top: 1rem;
}
